APScheduler==3.5.1
Flask==0.12.2
Flask-APScheduler==1.8.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
logger==1.4
SQLAlchemy==1.2.6
Werkzeug==0.14.1
